/* CSS Document */
html {
       overflow-y: scroll;
}

.navbar-center {
	margin: auto;
	max-width: 1250px;
}

.list-group-item:hover {
	background-color: #EEE;
}

.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: auto;
}

.user-info {
	background-color: #BFFFCB;
}

/* Message Logs */
.message-grey {
	background-color: #CCC;
}
.message-yellow {
	background-color: #F7FABE;
}
.message-red {
	background-color: #F07B6A;
}
.message-green {
	background-color: #9FFFA5;
}
.message-blue {
	background-color: #BBD3EC;
}

header {
	height: 75px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.table tbody tr td:last-child, .table thead tr th:last-child {
	text-align: right;
}